body{
	margin-top: 0;
	padding: 0;
	background: url(wallpaper.jpg) ;
	background-size: auto;
	background-position: center;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

a{color: #ff5c0a; cursor: pointer; text-decoration: none;padding: 10px;}

a{
	margin-top: 40px;
	margin-left: 200px;
	display: inline-block;


	font-size: 20px;
	color: #fff;
	-webkit-border-radius: 8px;
	
	background-color: #ff5c0a;
	-webkit-box-shadow: 
	0 5px 0 #ff4b09,
	0 15px 20px rgba(0,0,0,.30);
}
a: active{
	-webkit-box-shadow:
	0 4px 0 #ff4b09
	0 10px 10px rgba(0,0,0,.30);
}

.login{
	width: 340px;
	height: 460px;
	background: rgba(0,0,0,0.5);
	color:#fff;
	top:60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.logicon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: calc(50% - 50px);
}
.submit{
	background-color: #FF4C0B;
	cursor: pointer; 
	text-decoration: none;
	border:none;
	-webkit-border-radius: 8px;
	margin-bottom: 10px;
	width: 62%;
	padding: 8px;
}
.password, .E-mail{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;


}